<div class="page-header">

<% unless @cart.line_items.empty? %>
<h1>Your Reservation-list</h1>
  <ul>
  	<%= content_tag_for(:li, @cart.line_items) do |item| %>
  		<%= item.quantity_item %> &times; <%= item.room.title %> <%= item.room.roomtype %> - 
  		<%= number_to_currency(item.total_price,
  																 :unit => 'Руб', :format => "%n %u") %>
  	<% end %>
  </ul>
  
  <p><b>Total price(per day):</b>
  <%= number_to_currency(@cart.total_price, 
  																	:unit => 'Руб', :format => "%n %u") %>
  </p>
  </div>
 		
 		<p><%= button_to '   Checkout   ', new_order_path, method: :get %></p>							
  	<p><%= button_to 'Empty R-list', @cart, method: :delete, 
  		data: {confirm: 'Are you sure?'} %></p>
  
<% end %>

<!-- Если корзина пустая, то скажем об этом клиенту -->

<% if @cart.line_items.empty? %>
<h1>Your Reservation-list is empty!</h1>
<% end %>

<dl class="dl-horizontal">
</dl>
